---
title: JETRO
---
{% extends "layouts/_layout.html" %}

{% block content %}

<header class="header">
	<div class="wrapper">
		<div class="logo-nav-wrapper">
			<div class="logo">
				<a href="#" class="logo__link">
					jet<span>ro</span>
				</a>
			</div>
			<nav class="nav">
				<ul class="menu">
					<li class="menu__item"><a href="#" class="menu__link">home</a></li>
					<li class="menu__item"><a href="#" class="menu__link">about us</a></li>
					<li class="menu__item"><a href="#" class="menu__link menu__link_active">blog</a></li>
					<li class="menu__item"><a href="#" class="menu__link">portfolio</a></li>
					<li class="menu__item"><a href="#" class="menu__link">contact us</a></li>
				</ul>
			</nav>
		</div>
		<div class="blog">
			<h1 class="blog__title">
				blog
			</h1>
		</div>
	</div>
</header>
<div class="wrapper">
	<div class="wrapper-content">
		<main class="main">
			<section class="block">
				<div class="block__img block__img_img1">
					<div class="block__ico block__ico_ico1"></div>
				</div>
				<div class="block__content">
					<div class="block__info">
						<h4>date</h4>
						<p>April 15, 2012</p>
						<h4>tags</h4>
						<p>Website | Design</p>
						<h4>comments</h4>
						<p>4</p>
					</div>
					<div class="block__text">
						<h2>Top WordPress Themes of 2012</h2>
						<p>
							Lorem ipsum dolor sit amet, sit an molestie neglegentur concludaturque. Possim hendrerit in usu. Iriure delectus mea at, vis dicit laudem ex, vel eu possim imperdiet consequuntur. Brute ipsum tincidunt vim ei. Ne eos vidisse splendide instructior. Mei no latine praesent forensibus, te sed habemus tacimates, ad ipsum officiis constituto usu.

							Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper dui sed magna posuere ut elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc. Cras varius fermentum iaculis  ...
						</p>
					</div>
				</div>
			</section>
			<span class="line"></span>
			<section class="block">
				<div class="block__img block__img_img2">
					<div class="block__ico block__ico_ico2"></div>
				</div>
				<div class="block__content">
					<div class="block__info">
						<h4>date</h4>
						<p>April 15, 2012</p>
						<h4>tags</h4>
						<p>Website | Design</p>
						<h4>comments</h4>
						<p>4</p>
					</div>
					<div class="block__text">
						<h2>Top WordPress Themes of 2012</h2>
						<p>
							Lorem ipsum dolor sit amet, sit an molestie neglegentur concludaturque. Possim hendrerit in usu. Iriure delectus mea at, vis dicit laudem ex, vel eu possim imperdiet consequuntur. Brute ipsum tincidunt vim ei. Ne eos vidisse splendide instructior. Mei no latine praesent forensibus, te sed habemus tacimates, ad ipsum officiis constituto usu.

							Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper dui sed magna posuere ut elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc. Cras varius fermentum iaculis  ...
						</p>
					</div>
				</div>
			</section>
			<span class="line"></span>
			<section class="block">
				<div class="block__img block__img_img3">
					<div class="block__ico block__ico_ico3"></div>
				</div>
				<div class="block__content">
					<div class="block__info">
						<h4>date</h4>
						<p>April 15, 2012</p>
						<h4>tags</h4>
						<p>Website | Design</p>
						<h4>comments</h4>
						<p>4</p>
					</div>
					<div class="block__text">
						<h2>Top WordPress Themes of 2012</h2>
						<p>
							Lorem ipsum dolor sit amet, sit an molestie neglegentur concludaturque. Possim hendrerit in usu. Iriure delectus mea at, vis dicit laudem ex, vel eu possim imperdiet consequuntur. Brute ipsum tincidunt vim ei. Ne eos vidisse splendide instructior. Mei no latine praesent forensibus, te sed habemus tacimates, ad ipsum officiis constituto usu.

							Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper dui sed magna posuere ut elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc. Cras varius fermentum iaculis  ...
						</p>
					</div>
				</div>
			</section>
			<span class="line"></span>
			<section class="quote">
				<blockquote>
					Write anything you want here in this quotable area. Something unique you want people to learn 
					about your website or some cool random fact. Its totally up to you. 
				</blockquote>
			</section>
			<span class="line"></span>
			<section class="link">
				<h4 class="link__title">
					Some  of  the  best  freebies  on  the  web
				</h4>
				<a href="#" class="link__link">
					www.bestpsdfreebies.com
				</a>
				<p class="link__text">
					Lorem ipsum dolor sit amet, sit an molestie neglegentur concludaturque. Possim hendrerit in usu. Iriure delectus mea at, vis dicit laudem ex, vel eu possim imperdiet consequuntur. Brute ipsum tincidunt vim ei.
				</p>
			</section>
			<span class="line"></span>
			<div class="buttons">
				<a href="#" class="buttons__link">
					<span class="buttons__item buttons__item_active">
						1
					</span>
				</a>
				<a href="#" class="buttons__link">
					<span class="buttons__item">
						2
					</span>
				</a>
				<a href="#" class="buttons__link">
					<span class="buttons__item">
						3
					</span>
				</a>
			</div>
		</main>
		<aside class="aside">
			<div class="a-block">
				<div class="a-block__title-bg">
					<h4 class="a-block__title">
						AbouT Jetro
					</h4>
					<div class="a-block__bg"></div>
				</div>
				<p class="a-block__text">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praese nt libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elemen tum imperdiet. Duis sagittis ipsum.
				</p>
			</div>
			<div class="a-block">
				<div class="a-block__title-bg">
					<h4 class="a-block__title">
						Categories
					</h4>
					<div class="a-block__bg"></div>
				</div>
				<p class="a-block__text">
					<a href="#" class="a-block__link">Video (3)</a>
					<a href="#" class="a-block__link">Sports (5)</a>
					<a href="#" class="a-block__link">Media (2)</a>
					<a href="#" class="a-block__link">Entertainment (7)</a>
					<a href="#" class="a-block__link">Life (4)</a>
					<a href="#" class="a-block__link">Super Cool Stuff (8)</a>
				</p>
			</div>
			<div class="a-block">
				<div class="a-block__title-bg">
					<h4 class="a-block__title">
						Photo  Gallery
					</h4>
					<div class="a-block__bg"></div>
				</div>
				<div class="a-block__gallery">
					<div class="a-block__img"></div>
					<div class="a-block__img"></div>
					<div class="a-block__img"></div>
					<div class="a-block__img"></div>
					<div class="a-block__img"></div>
					<div class="a-block__img"></div>
					<div class="a-block__img"></div>
					<div class="a-block__img"></div>
				</div>
			</div>
		</aside>
	</div>
</div>

{% endblock %}
